* {
    transition: 0.2s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 9999px;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
    background-color: #002F48;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.btn {
@apply bg-white px-8 py-4 shadow text-navy font-bold text-lg hover:scale-110 hover:bg-fire hover:text-white
}

.btn2 {
@apply bg-navy px-8 py-4 shadow text-white font-bold text-lg hover:scale-110 hover:bg-white hover:text-navy
}